*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    font-size: 60px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}
main{
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-direction: column;
    gap: 5px;
}
.game{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}
.btn{
   width: 140px;
   height: 140px;
   background-color: white;
}
.btn:hover{
    background-color: #f1f1f1;
}
